# Variables de entorno para conexión a Neon y configuración del backend
PORT=3001
DATABASE_URL=postgresql://<usuario>:<password>@<host>:<puerto>/<database>?sslmode=require
NODE_ENV=development
ADMIN_KEY=PASANTIAS90
CORS_ORIGIN=*
# No uses comillas. Ejemplo válido de dominio único:
# CORS_ORIGIN=https://prueba-empaquetad-ofrontend-theta.vercel.app
